{% extends 'bootstrap/base.html' %}


{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bilbo&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="end-dialog">

    <h1>Congratulations your score is {{score}}</h1>
    <a href="{{url_for('homepage')}}"><button class="btn btn-primary">HOME</button></a>
</div>
{% endblock %}